
<% provide(:title, 'Edit a Holiday') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@holiday) do |f| %> 
    		<%= render 'shared/holiday_error_messages' %>
    
	  <section>
	  	<h3>Event Details</h3>
      	<%= f.label " name of event"%>
      	<%= f.text_field :name %>
      	<%= f.hidden_field :creator, :value => current_user.name  %> 
	  	<%= f.label :date %>
	  	<%= f.text_field :date%>
	  	<%= f.submit "Edit holiday for "+ current_user.name.to_s  , class: "btn btn-large btn-primary"%>
      </section>
      
      <% end %>
   </div>
</div>
